.layout {
	height: 100%;
    box-sizing: border-box; /* fix css size bug/feature */
    display: grid;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: repeat(6, 1fr); /* fr = fraction */
}

 .layout>footer{
    grid-column: span 6;
    color:black ;
    font-size:medium ;
    background-color: rgb(126, 176, 233)
   

}
.layout>header{
    grid-column: span 6;
    background-color: rgb(126, 176, 233)
    ;
    color: aliceblue;

}

.layout>aside{
   
    background-color:beige;
}

.layout>main{
    grid-column: span 5;
}

.layout,.layout>*{
    border: 1px solid black;
}

